.page-contact {

    .accordion {
        --bs-accordion-btn-bg: var(--primary);
        --bs-accordion-btn-color: #fff;
        --bs-accordion-active-bg: #000000;
        --bs-accordion-active-color: #fff;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25)
    }

    input, select, textarea {
        border-radius: 5px;
    }

    select {
        option {
            // max-width: 100px !important;
            color: white;
            background: var(--primary);
    
            &:hover {
                background-color: var(--secondary);
            }

            &:checked {
                background-color: var(--secondary);
            }

            &:focus {
                background-color: var(--secondary);
            }
        }
    }

    .dropdown {
        
        .dropdown-menu {
            max-height: 300px;
            overflow-y: scroll;
        }

        button {
            margin-bottom: 0.5rem;
            width: 100%;
        }
    }

}