footer {
    // background-color: var(--primary);
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    // padding: 1rem;

    a {
        color: white;
    }
}